<ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="?page=1">صفحه اول</a></li>
        <li><a href="?page={{ page_obj.previous_page_number }}">صفحه قبل</a></li>
    {% endif %}

    {% for page in paginator.page_range %}
        {% if page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
            <li class="{% if page_obj.number == page %} active {% endif %}"><a class="pagination-number"
                                                                               href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">صفحه بعد</a></li>
        <li><a href="?page={{ page_obj.paginator.num_pages }}">صفحه آخر({{ page_obj.paginator.num_pages }})</a></li>
    {% endif %}
</ul>