{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}تغییر کلمه عبور{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <form action="{% url 'change_password_page' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group col-md-12">
                        {{ form.current_password.label_tag }}
                        {{ form.current_password }}
                        <div class="alert-danger">
                            {{ form.current_password.errors }}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.now_password.label_tag }}
                        {{ form.now_password }}
                        <div class="alert-danger">
                            {{ form.now_password.errors }}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.confirm_password.label_tag }}
                        {{ form.confirm_password }}
                        <div class="alert-danger">
                            {{ form.confirm_password.errors }}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-text-contact-us btn-primary col-xs-pull-11">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}