{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
    عملیات با موفقیت انجام شد
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <div class="text-center">
                    <div class="replay-box">
                        <div class="row">
                            <h2>گذرواژه با موفقیت تغییر یافت </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}