{% extends 'admin_panel/shared/_admin_layout.html' %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}
{% block title %}
    ویرایش مقاله
{% endblock %}

{% block content %}
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-blue">
                <span class="widget-caption">ویرایش مقاله</span>
            </div>
            <div class="widget-body">
                <div id="registration-form">
                    <form role="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-title">
                            ویرایش مقاله {{ article.title }}
                        </div>
                        <div class="col-md-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.slug|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                            {{ form.media }}
                            {{ form.short_description|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                            {{ form.media }}
                            {{ form.text|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.selected_category|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.image|as_crispy_field }}
                        </div>
                        <div class="col-md-12">
                            {{ form.author|as_crispy_field }}
                        </div>
                        <br>
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="inverted" {% if article.is_active %}checked{% endif %}
                                           name="is_active">
                                    <span class="text">فعال</span>
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">ثبت</button>

                        <a onclick="deleteAdminPanelArticle({{ article.id }})"
                           class="btn btn-danger">حذف</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}