{% load thumbnail %}
{% load static %}
{% load poll_extreas %}
<div class="col-sm-{{ col_size }}">
    <div class="product-image-wrapper">
        <a href="{{ product.get_absolute_url }}">
            <div class="single-products">
                <div class="productinfo text-center">
                    {% if product.image %}
                        {% thumbnail product.image '268x250' quality=100 crop='center' as im %}
                            <img src="{{ im.url }}" alt="" loading="lazy" height="{{ im.height }}" width="{{ im.width }}"/>
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'images/shop/product.jpg' %}" loading="lazy" alt="" height="250" width="268"/>
                    {% endif %}
                    <h2>{{ product.price | price_como }}</h2>
                    <p>{{ product.title }}</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد
                        خریـد</a>
                </div>
                <a href="{{ product.get_absolute_url }}">
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>{{ product.price | price_como }}</h2>
                            <p>{{ product.title }}</p>
                            <button onclick="addProductToOrder({{ product.id }})"
                                    class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>
                                افزودن به سبد خرید
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </a>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ product.get_absolute_url }}" data-popup="yes"><i class="fa fa-plus-square"></i>مشاهده
                    جزییات</a></li>
                <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>
            </ul>
        </div>
    </div>
</div>