{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="8VyrD7YsABb54j-H_fJQE78o46qK73kHj4cZD8t_-pk" />
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/header_references.html' %}
    {% block header_refernces %}{% endblock %}
</head><!--/head-->
<body>
{% render_partial 'home_module.views.site_header_component' %}
{% include 'inclouds/messages.html' %}
{% block content %}{% endblock %}
{% render_partial 'home_module.views.site_footer_component' %}
{% include 'shared/footer_references.html' %}
{% block footer_refernces %}{% endblock %}
</body>
</html>