{% extends 'admin_panel/shared/_admin_layout.html' %}

{% block title %}
    صفحه اصلی ادمین
{% endblock %}

{% block content %}
    <div class="">
        <div class="page-body">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget flat">
                        <div class="widget-header bordered-bottom bordered-platinum">
                            <span class="widget-caption">صفحه اصلی ادمین</span>
                            <div class="widget-buttons">
                                <a href="#" data-toggle="maximize">
                                    <i class="fa fa-expand sky"></i>
                                </a>
                                <a href="#" data-toggle="collapse">
                                    <i class="fa fa-minus red"></i>
                                </a>
                            </div><!--Widget Buttons-->
                        </div><!--Widget Header-->
                        <div class="widget-body">
                            <p>در این قسمت از سایت شما میتوانید هر آن چه که در سایت هست را تغییر بدید</p>
                        </div><!--Widget Body-->
                    </div><!--Widget-->
                </div>

            </div>
        </div>
    </div>
{% endblock %}